body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sideBar {
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(128, 232, 255);
 }

h3 {
    font-family: Arial;
    font-size: medium;
    color: rgb(224, 224, 224);
    margin: 10px 40px;
    text-align: left;

}

.mainContent {
    float: right;
    width: 80%;
    height: 100%;
    background-color: #e0e0e0; 
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}



